html,
body {
    overflow: hidden;
}

#three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 80%;
}

#text-container {
  margin-left: 3px;
  margin-top: 30px;
}

#file-input {
    z-index: 1;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 3px;
}

.message-container {
    z-index: 1;
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    background-color: #6FC3C0;
    display: inline-block;
    padding: 8px;
    border-radius: 3px;
    margin-left: 3px;
}

.message {
    display: inline;
    color: black;
}

.checkboxes {
    position: absolute;
    left: 1rem;
    top: 10rem;
    margin-left: 3px;
}

/* Style buttons */
.btn {
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-left: 3px;
  }

.nav-item {
    position: left;
    margin-left: -20px;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #6FC3C0;
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 3px;
  }
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #6FC3C0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: black;
  }

  .sideMenu{
    background-color: black;
    width: 20%;
    float: right;
    position: relative;
    height: 100vh;
  }

  .light{
    background-color: #fff;
    border-radius: 3px;
    padding: 8px;
    margin: 3px;
  }